// Dark theme

    body.dark-theme {
      background-color: #000;
      color: #FEFDF8;
      accent-color: $color-accent;
    }

 /* Selection color for dark theme */
    body.dark-theme ::selection {
    background-color: $color-accent; /* Nokia */
     color: #fff; /* White text color */
    }


   /* Apply dark theme to specific elements */
    .dark-theme a {
        color: #fff; /* Links */
    }

    .dark-theme svg {
      fill: #fff; /* SVG paths */
    }

     /* Header color for dark theme */
    body.dark-theme h1,
    body.dark-theme h2,
    body.dark-theme h3 {
        color: #FEFDF8; /* White color for headers */
    }
    
    .dark-theme ul {
      color: #FEFDF8;
    }


   .dark-theme .Badge{
      background-color: rgba($color-white,.09);
      color: white;
    }