/****** Tomas Gonzalez CSS RESET *******/
/*** box sizing border-box for all elements ***/

*,
*::before,
*::after {
  box-sizing: border-box;
  /*** why is box-sizing set to border-box though??? ***/
}

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Div reset --------------------------------------------*/
div {
  display: block;
}

/* Typography reset-------------------------------------*/
p {
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Misc reset -------------------*/
cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

figcaption {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

/* Remove default padding AND styling*/
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

[hidden] {
  display: none !important;
}
