@charset "UTF-8";
/*------------------------------------*\
    #ABSTRACTS: COLORS
\*------------------------------------*/
/* off-white */
/* egg shell */
/* Alternate color way: 
Brand: #542BFF;
Accent:  #544bff75;
Text: ##172240;
Background:  #F5F8FE;
Link:   #542BFF;
*/
/*------------------------------------*\
    #ABSTRACTS: TYPOGRAPHY
\*------------------------------------*/
/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1140,20,1.25,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --f--1-min: 14.22;
  --f--1-max: 16.00;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );
  --f-0-min: 16.00;
  --f-0-max: 20.00;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-1-min: 18.00;
  --f-1-max: 25.00;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );
  --f-2-min: 20.25;
  --f-2-max: 31.25;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );
  --f-3-min: 22.78;
  --f-3-max: 39.06;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );
  --f-4-min: 25.63;
  --f-4-max: 48.83;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );
}

/* Type   VALRIBLES(Variable Maps  */
/* font-weights: normal, medium, bold ->  to call =  map-get($font-weights, bold); */
/* font-size: h1, h2, p */
/*   Functions are used to compute and return values whereas Mixins should define styles  ---------*/
/*------------------------------------*\
    #ABSTRACTS: BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints
 *
 *
$base-font-size = 100%/16px
  *
*/
/**
* Mobile-first styles FTW
*
Example:
*/
aside.primary {
  /* Regular content */
}
@media (min-width: 37.5em) {
  aside.primary {
    /* responsive content */
  }
}

/*------------------------------------*\
    #ABSTRACTS: SPACING
\*------------------------------------*/
:root {
  --space: calc(1rem / 2);
}

/****** Tomas Gonzalez CSS RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
  /*** why is box-sizing set to border-box though??? ***/
}

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Div reset --------------------------------------------*/
div {
  display: block;
}

/* Typography reset-------------------------------------*/
p {
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Misc reset -------------------*/
cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

figcaption {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

/* Remove default padding AND styling*/
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

[hidden] {
  display: none !important;
}

/*------------------------------------*\
    #BASE: BODY
\*------------------------------------*/
html {
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  background-color: #1B4F39;
}

@media screen and (min-width: 675px) {
  html {
    font-size: 20px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  background-color: #FEFDF8;
  color: #333444;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.6;
  font-size: var(--step-0);
  font-style: normal;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

p {
  max-width: 57ch;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

p:not(:last-of-type) {
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 48em) {
  p:not(:last-of-type) {
    margin-bottom: 1.28rem;
  }
}
[id] {
  scroll-margin-top: 2ex;
}

hr {
  border: dashed 1px;
  max-width: 60%;
  margin: 3rem 0;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:focus-visible {
  outline: dotted 2px var(--color-dark);
  outline-offset: 3px;
}

/*------------------------------------*\
    #BASE: HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: #1a0e04;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  letter-spacing: -0.015em;
  max-width: 35ch;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1, .h1 {
  font-size: var(--step-4);
  max-width: 33ch;
}

h2, .h2 {
  font-size: var(--step-2);
  margin-top: 3.75rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 48em) {
  h2, .h2 {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 48em) {
  h2, .h2 {
    margin-bottom: 1.6rem;
  }
}
h3, .h3 {
  font-size: var(--step-1);
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 48em) {
  h3, .h3 {
    margin-top: 2.4rem;
  }
}
@media screen and (min-width: 48em) {
  h3, .h3 {
    margin-bottom: 0.8rem;
  }
}
h4, .h4 {
  font-size: var(--step-0);
  line-height: 1.4;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 48em) {
  h4, .h4 {
    margin-top: 2.4rem;
  }
}
@media screen and (min-width: 48em) {
  h4, .h4 {
    margin-bottom: 0.8rem;
  }
}
/*------------------------------------*\
    #BASE: IMAGES
\*------------------------------------*/
img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure {
  margin: 0;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 80%;
  margin-top: 0.75rem;
}
@media screen and (min-width: 48em) {
  figcaption {
    margin-top: 0.85rem;
  }
}

/*------------------------------------*\
    #BASE: LINKS
\*------------------------------------*/
a {
  color: #1B4F39;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #ffffff;
  background-color: #1B4F39;
  text-decoration: none;
}
a:focus {
  outline: dotted 1px #1a0e04;
  outline-offset: 4px;
}
a:visited {
  text-decoration: underline;
}
a:before {
  transition: all 300ms ease-in-out;
}

/*------------------------------------*\
    #BASE: LISTS
\*------------------------------------*/
ul,
ol {
  color: #333444;
  list-style-position: inside;
  max-width: 675px;
  padding-left: 0;
}
@media (min-width: 48em) {
  ul,
  ol {
    list-style-position: outside;
  }
}

ul + p,
ol + p {
  margin-top: 1.5rem;
}
@media screen and (min-width: 48em) {
  ul + p,
  ol + p {
    margin-top: 1.7rem;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

/*------------------------------------*\
    #BASE: QUOTES
\*------------------------------------*/
blockquote {
  border-left: 2px solid #1a0e04;
  color: #1a0e04;
  font-weight: 400;
  font-style: italic;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 48em) {
  blockquote {
    margin-top: 1.6rem;
  }
}
@media screen and (min-width: 48em) {
  blockquote {
    margin-bottom: 1.6rem;
  }
}
blockquote p {
  margin-left: 1.5rem;
}

@media screen and (min-width: 48em) {
  blockquote p {
    margin-left: 1.6rem;
  }
}
blockquote cite, blockquote figcaption {
  display: block;
  font-size: 80%;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  margin-top: 0.75rem;
}

@media screen and (min-width: 48em) {
  blockquote cite, blockquote figcaption {
    margin-top: 0.8rem;
  }
}
code,
kbd,
samp {
  background: #f9f9f9;
  color: var(--color-light);
  font-size: 0.9rem;
}

pre {
  background: #f9f9f9;
  font-size: 0.9rem;
  overflow: auto;
  overflow-x: scroll;
  overflow-wrap: normal;
  padding: 3%;
}

pre + p {
  margin-top: 1.5rem;
}
@media screen and (min-width: 48em) {
  pre + p {
    margin-top: 1.7rem;
  }
}

p code,
li code {
  padding: 0.125rem 0.35rem;
}

code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  font-size: 85%;
  color: #396ca0;
  background-color: #f9f9f9;
  border-radius: 2px;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/*------------------------------------*\
    #BASE: SELECT
\*------------------------------------*/
select {
  background: #444444;
  border: 0;
  cursor: pointer;
  font-size: 0.8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline-style: none;
  height: 64px;
  width: 100%;
}

/*------------------------------------*\
    #BASE: VIDEO
\*------------------------------------*/
/**
 * Component Block
 */
video {
  width: 100%;
  height: auto;
}

/*------------------------------------*\
    #BASE: INPUT
\*------------------------------------*/
form {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48em) {
  form {
    margin-bottom: 1.7rem;
  }
}

/**
  * Component Element
  */
input,
textarea {
  background: var(--color-light-mod-2);
  border: solid 2px var(--color-light-mod-2);
  border-radius: 0;
  outline: 2px solid var(--color-light-mod-2);
  outline-offset: 0;
  padding: 4px 16px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}

textarea {
  min-height: 96px;
  padding: 8px 16px;
}

select {
  background: var(--color-light-mod-2);
  border: 0;
  cursor: pointer;
  font-size: 0.8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline-style: none;
  width: 100%;
}
select:after {
  color: var(--color-dark);
  content: "▾";
  display: block;
  height: 14px;
  position: absolute;
  right: 24px;
  top: 16px;
  width: 14px;
}

label {
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.375rem;
}
@media screen and (min-width: 48em) {
  label {
    margin-top: 0.85rem;
  }
}
@media screen and (min-width: 48em) {
  label {
    margin-bottom: 0.425rem;
  }
}

form button {
  margin-top: 0.75rem;
}
@media screen and (min-width: 48em) {
  form button {
    margin-top: 0.85rem;
  }
}

/* Background */
.chroma {
  background-color: var(--color-light-mod-2);
}

/* Error */
.chroma .err {
  color: #2838b0;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc;
}

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}

/* Keyword */
.chroma .k {
  color: #2838b0;
}

/* KeywordConstant */
.chroma .kc {
  color: #444444;
  font-style: italic;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #2838b0;
  font-style: italic;
}

/* KeywordNamespace */
.chroma .kn {
  color: #2838b0;
}

/* KeywordPseudo */
.chroma .kp {
  color: #2838b0;
}

/* KeywordReserved */
.chroma .kr {
  color: #2838b0;
}

/* KeywordType */
.chroma .kt {
  color: #2838b0;
  font-style: italic;
}

/* NameAttribute */
.chroma .na {
  color: #388038;
}

/* NameBuiltin */
.chroma .nb {
  color: #388038;
}

/* NameBuiltinPseudo */
.chroma .bp {
  font-style: italic;
}

/* NameClass */
.chroma .nc {
  color: #287088;
}

/* NameConstant */
.chroma .no {
  color: #b85820;
}

/* NameDecorator */
.chroma .nd {
  color: #287088;
}

/* NameEntity */
.chroma .ni {
  color: #709030;
}

/* NameException */
.chroma .ne {
  color: #908828;
}

/* NameFunction */
.chroma .nf {
  color: #785840;
}

/* NameFunctionMagic */
.chroma .fm {
  color: #b85820;
}

/* NameLabel */
.chroma .nl {
  color: #289870;
}

/* NameNamespace */
.chroma .nn {
  color: #289870;
}

/* NameTag */
.chroma .nt {
  color: #2838b0;
}

/* NameVariable */
.chroma .nv {
  color: #b04040;
}

/* NameVariableGlobal */
.chroma .vg {
  color: #908828;
}

/* NameVariableMagic */
.chroma .vm {
  color: #b85820;
}

/* LiteralString */
.chroma .s {
  color: #b83838;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #444444;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #b83838;
}

/* LiteralStringChar */
.chroma .sc {
  color: #a848a8;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #b85820;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #b85820;
  font-style: italic;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #b83838;
}

/* LiteralStringEscape */
.chroma .se {
  color: #709030;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #b83838;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #b83838;
  text-decoration: underline;
}

/* LiteralStringOther */
.chroma .sx {
  color: #a848a8;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #a848a8;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #b83838;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #b83838;
}

/* LiteralNumber */
.chroma .m {
  color: #444444;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #444444;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #444444;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #444444;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #444444;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #444444;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #444444;
}

/* Operator */
.chroma .o {
  color: #666666;
}

/* OperatorWord */
.chroma .ow {
  color: #a848a8;
}

/* Punctuation */
.chroma .p {
  color: #888888;
}

/* Comment */
.chroma .c {
  color: #888888;
  font-style: italic;
}

/* CommentHashbang */
.chroma .ch {
  color: #287088;
  font-style: italic;
}

/* CommentMultiline */
.chroma .cm {
  color: #888888;
  font-style: italic;
}

/* CommentSingle */
.chroma .c1 {
  color: #888888;
  font-style: italic;
}

/* CommentSpecial */
.chroma .cs {
  color: #888888;
  font-style: italic;
}

/* CommentPreproc */
.chroma .cp {
  color: #289870;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #289870;
}

/* GenericDeleted */
.chroma .gd {
  color: #c02828;
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
.chroma .gr {
  color: #c02828;
}

/* GenericHeading */
.chroma .gh {
  color: #666666;
}

/* GenericInserted */
.chroma .gi {
  color: #388038;
}

/* GenericOutput */
.chroma .go {
  color: #666666;
}

/* GenericPrompt */
.chroma .gp {
  color: #444444;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: #444444;
}

/* GenericTraceback */
.chroma .gt {
  color: #2838b0;
}

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}

/* TextWhitespace */
.chroma .w {
  color: #a89028;
}

/*------------------------------------*\
    #LAYOUTS: WRAPPER
\*------------------------------------*/
/**
 * Component Block
 */
.Wrapper {
  padding: 0 4%;
}

@media (min-width: 48em) {
  .Wrapper {
    padding: 0 7% 0 7%;
  }
}
@media (min-width: 48em) {
  .Wrapper {
    padding: 0 7%;
  }
}
.Wrapper h-card {
  padding-right: 52.984;
  padding-left: 52.984;
  margin-bottom: 10%;
}

/*------------------------------------*\
    #LAYOUTS: CONTAINER
\*------------------------------------*/
/**
 * Component Block
 */
.Container {
  padding-top: 12%;
  padding-bottom: 7%;
  max-width: 1248px;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .Container {
    padding-top: 5%;
  }
}
/*------------------------------------*\
    #LAYOUTS: SECTION
\*------------------------------------*/
/**
 * Component Block
 */
.Section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48em) {
  .Section {
    margin-top: 1.7rem;
  }
}
@media screen and (min-width: 48em) {
  .Section {
    margin-bottom: 1.7rem;
  }
}

@media (min-width: 48em) {
  .Section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  .Section {
    margin-top: 3.4rem;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  .Section {
    margin-bottom: 3.4rem;
  }
}
.Section {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

/*------------------------------------*\
    #LAYOUTS: FLEX
\*------------------------------------*/
/**
 * Component Block
 */
.Flex {
  display: flex;
}

.Flex-item {
  flex-basis: 1;
}

/*------------------------------------*\
    #LAYOUTS: GRID
\*------------------------------------*/
/**
 * A utility that creates a simple 1 dimentional 12 column grid, using CSS grid
 *
 * Content will span a minimum of 3 columns, for sake of simplicity
 */
.Grid {
  display: grid;
  grid-gap: 24px;
}

.Grid--2col {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 48em) {
  /**
   * Component Block
   */
  .Grid,
  .Grid--2col {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 48px;
    max-width: 1248px;
  }
  /**
   * Component Element
   */
  /* From column 1, span 3 columns */
  .Grid-1-3 {
    grid-column: 1/span 3;
  }
  /* From column 1, span 6 columns */
  .Grid-1-6 {
    grid-column: 1/span 6;
  }
  /* From column 1, span 12 columns */
  .Grid-1-12 {
    grid-column: 1/span 12;
  }
  /* From column 4, span 3 columns */
  .Grid-4-3 {
    grid-column: 4/span 3;
  }
  /* From column 7, span 3 columns */
  .Grid-7-3 {
    grid-column: 7/span 3;
  }
  /* From column 7, span 6 columns */
  .Grid-7-6 {
    grid-column: 7/span 6;
  }
  /* From column 10, span 3 columns */
  .Grid-10-3 {
    grid-column: 10/span 3;
  }
  .Grid-as-center {
    align-self: center;
  }
}
/*------------------------------------*\
    #LAYOUTS: PROJECT
\*------------------------------------*/
/**
 * Component Block
 */
.Project {
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 48em) {
  .Project {
    margin-bottom: 5.1rem;
  }
}

@media (min-width: 48em) {
  .Project-description {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  .Project-description {
    margin-top: 1.7rem;
  }
}
.Project .Message {
  border: dotted 1px;
  padding: 32px 64px;
}

.Project-heading {
  margin-top: 1.25rem;
}

/*------------------------------------*\
    #LAYOUTS: BLOCKS
\*------------------------------------*/
/**
 * Component Block
 */
.Blocks h1,
.Blocks h2,
.Blocks h3,
.Blocks h4 {
  margin: 0;
}

.Blocks h1, .Blocks h2 {
  margin: 0;
  line-height: 1.1;
}

.Blocks h3 {
  line-height: 1.2;
}

.Blocks section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 48em) {
  .Blocks section {
    margin-top: 3.2rem;
  }
}
@media screen and (min-width: 48em) {
  .Blocks section {
    margin-bottom: 3.2rem;
  }
}
@media (min-width: 48em) {
  .Blocks section {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  .Blocks section {
    margin-top: 6.4rem;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  .Blocks section {
    margin-bottom: 6.4rem;
  }
}
/*------------------------------------*\
    #LAYOUTS: POSTS
\*------------------------------------*/
/**
 * Component Block
 */
.Post .intro, .intro {
  font-size: 110%;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  max-width: 52ch;
}

@media screen and (min-width: 48em) {
  .Post .intro, .intro {
    margin-bottom: 1.6rem;
  }
}
.PostAuthor {
  display: flex;
  align-items: center;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

@media screen and (min-width: 48em) {
  .PostAuthor {
    margin-top: 4.8rem;
  }
}
@media screen and (min-width: 48em) {
  .PostAuthor {
    margin-bottom: 4.8rem;
  }
}
.PostAuthor h2 {
  font-size: var(--step-1);
}

.PostAuthor h2, .PostAuthor p {
  margin: 0;
}

.Post .heading-anchor {
  display: inline;
  margin-left: 0.5rem;
  opacity: 0;
}

.Post h2:focus > .heading-anchor,
.Post h2:hover > .heading-anchor,
.Post h3:focus > .heading-anchor,
.Post h3:hover > .heading-anchor,
.Post h4:focus > .heading-anchor,
.Post h4:hover > .heading-anchor {
  opacity: 1;
}

.Post .heading-anchor {
  text-decoration: none;
}

.Post .heading-anchor:hover {
  text-decoration: underline;
  color: #1B4F39;
  background: 0 0;
}

.Post .heading-anchor {
  text-decoration: none;
}

.Post .heading-anchor {
  display: inline;
  margin-left: 0.5rem;
  opacity: 0;
}

/*------------------------------------*\
    #LAYOUTS: POST LIST
\*------------------------------------*/
/**
 * Component Block
 */
.PostListItem {
  margin-bottom: 4.5rem;
}

@media screen and (min-width: 48em) {
  .PostListItem {
    margin-bottom: 4.8rem;
  }
}
.PostListItem:first-of-type {
  margin-top: 3rem;
}

@media screen and (min-width: 48em) {
  .PostListItem:first-of-type {
    margin-top: 3.2rem;
  }
}
.PostListItem p {
  color: var(--color-dark);
}

.PostListItem-title {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.75rem;
  max-width: 30ch;
}

@media screen and (min-width: 48em) {
  .PostListItem-title {
    margin-top: 0;
  }
}
@media screen and (min-width: 48em) {
  .PostListItem-title {
    margin-bottom: 0.8rem;
  }
}
.PostListItem-title a {
  color: var(--color-dark);
  text-decoration: none;
}

.PostListItem-title a:hover {
  background-color: unset;
  text-decoration: underline;
}

.PostListItem-meta {
  display: flex;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 48em) {
  .PostListItem-meta {
    margin-bottom: 0.8rem;
  }
}
/*------------------------------------*\
    #LAYOUTS: TAG-LIST
\*------------------------------------*/
/**
 * Component Block
 */
.TagList {
  columns: 17rem auto;
  -moz-columns: 17rem auto;
}

@media (min-width: 48em) {
  .TagList {
    -moz-column-gap: 64px;
    column-gap: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
.TagListItem {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48em) {
  .TagListItem {
    margin-bottom: 1.7rem;
  }
}

.TagListItem-title {
  margin: 0;
  font-size: var(--step-2);
}

/*------------------------------------*\
    #OBJECTS: CARDS
\*------------------------------------*/
/**
 * Component Block
 */
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
}

.card {
  margin: 20px; /* Changes cols/rows */
  padding-bottom: 1rem;
  overflow: hidden;
  flex: 1 0 calc(50% - 20px); /* Initially 50% width with margin */
}

@media screen and (min-width: 768px) {
  .card {
    flex-basis: calc(50% - 20px); /* Set initial basis to 50% */
    max-width: calc(50% - 20px); /* Set max-width to ensure maximum 2 cards per row */
  }
}
.card__content {
  padding-top: 0.5rem;
  padding-bottom: 1.2rem;
}

.card:hover,
.card:active,
.card:focus,
.card.is-pressed {
  transform: translateY(-2px);
  filter: brightness(0.9);
  transition: 0.2s;
}

.card__title {
  font-size: var(--step-1);
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

/** Card Image  **/
.card__img-container {
  position: relative;
}

.card__img {
  border-radius: 0.6rem;
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect */
  margin-top: -0.5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card__img {
    height: auto;
    max-width: 100%;
  }
}
.card__img-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}

.card__img-container:hover .card__img-overlay {
  background-color: #1B4F39;
  opacity: 1.9;
}

/*
.card__text {
  font-size: var(--step-1);
  margin-bottom: 0.5rem;
}
*/
/*
.card__btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn:hover, .card__btn:active {
  background-color: #dce4ff;
}
.card__btn:hover span, .card__btn:active span {
  margin-left: 1.5rem;
}
*/
/*------------------------------------*\
    #OBJECTS: BUTTON
\*------------------------------------*/
/**
 * Component Block
 */
.ButtonWrap {
  margin-bottom: 6rem;
  margin-top: 6rem;
}
@media screen and (min-width: 48em) {
  .ButtonWrap {
    margin-bottom: 6.8rem;
  }
}
@media screen and (min-width: 48em) {
  .ButtonWrap {
    margin-top: 6.8rem;
  }
}

.Button--primary {
  all: initial;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  display: inline-block;
  padding: 1em 1.25em;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  background-color: transparent;
  color: #585858;
  border: 0.075em solid #d5d5d5;
  border-radius: 0.125em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
}

.Button--primary:hover, .Button--primary:active, .Button--primary.is-pressed {
  background-color: transparent;
  border-color: #1B4F39;
  color: #1B4F39;
  transform: translateY(-1px);
  transition: 0.4s ease-in-out;
}

.Button--primary:focus, .Button--secondary:focus {
  outline: dotted 2px #1a0e04;
  outline-offset: 3px;
}

.Button--secondary {
  padding: 1em 1.25em;
  text-decoration: none;
  background: #fdf8ed;
  border: solid 2px #fdf8ed;
  color: #1a0e04;
  padding: 8px 16px;
}

.Button--secondary:hover {
  color: #1a0e04;
  background-color: #fdf8ed;
  outline: dotted 2px #1a0e04;
  outline-offset: 3px;
}

/*------------------------------------*\
    #OBJECTS: BADGE
\*------------------------------------*/
/**
 * Component Block
 */
.Badge {
  color: #1B4F39;
  background-color: rgba(27, 79, 57, 0.05);
  border-radius: 0.2rem;
  padding: calc(0.5rem / 1.5);
  margin: calc(0.5rem / 1.5);
  cursor: default;
}

.Badge a:hover,
.Badge a:focus,
.Badge a:active,
.Badge a.is-pressed {
  background-color: rgba(27, 79, 57, 0.1);
  color: #1B4F39;
}

/*------------------------------------*\
    #OBJECTS: AVATAR
\*------------------------------------*/
/**
 * Component Block
 */
.Avatar {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

/**
   * Component Element
   */
/**
   * Component Modifier
   */
.Avatar--round {
  border-radius: 50%;
}

.Avatar--m {
  font-size: 1.25rem;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

/*------------------------------------*\
    #OBJECTS: VIDEO
\*------------------------------------*/
/**
 * Component Block
 */
.Video {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
@media screen and (min-width: 48em) {
  .Video {
    margin-top: 2.55rem;
  }
}
@media screen and (min-width: 48em) {
  .Video {
    margin-bottom: 2.55rem;
  }
}

/*------------------------------------*\
    #OBJECTS: FORM
\*------------------------------------*/
/**
 * Component Block
 */
.Form-label {
  display: block;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 48em) {
  .Form-label {
    margin-bottom: 0.85rem;
  }
}

::-moz-placeholder {
  color: #333333;
}

::placeholder {
  color: #333333;
}

/**
 * Component Element
 */
.Form-input,
.Form-textarea,
.Form-select {
  background: #444444;
  border: solid 2px #444444;
  border-radius: 0;
  height: 60px;
  margin-top: 0.375rem;
  outline: 2px solid #444444;
  outline-offset: 0;
  padding: 0 16px;
  position: relative;
  transition: all 0.2s;
  width: 100%;
}
@media screen and (min-width: 48em) {
  .Form-input,
  .Form-textarea,
  .Form-select {
    margin-top: 0.425rem;
  }
}
.Form-input:focus, .Form-input:active,
.Form-textarea:focus,
.Form-textarea:active,
.Form-select:focus,
.Form-select:active {
  border: 2px solid #1B4F39;
  outline: 4px solid #57c697;
  outline-offset: 0;
  transition: all 0.2s;
}

.Form-select:after {
  color: #1a0e04;
  content: "▾";
  display: block;
  height: 14px;
  position: absolute;
  right: 24px;
  top: 16px;
  width: 14px;
}

.Form-textarea {
  min-height: 96px;
  padding-top: 16px;
}

.Form-button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48em) {
  .Form-button {
    margin-top: 1.7rem;
  }
}
@media screen and (min-width: 48em) {
  .Form-button {
    margin-bottom: 1.7rem;
  }
}

.Form__checkbox {
  display: inline;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 2px #1B4F39;
  border-radius: 4px;
  background: #fffefc;
  outline: none;
  cursor: pointer;
  padding: 0 1.8%;
  transition: background-color 0.3s, border-color 0.3s;
}
.Form__checkbox:checked {
  background-color: #1B4F39;
}

/* Create the checkmark icon using pseudo-elements */
.Form__checkbox::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 32%;
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  border: 2px solid #fffefc;
  border-top: none;
  border-right: none;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the checkmark icon when checkbox is checked */
.Form__checkbox:checked::after {
  opacity: 1;
}

/*------------------------------------*\
    #OBJECTS: VIDEO
\*------------------------------------*/
/**
 * Component Block
 */
.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  background-color: #f5f5f5;
}
.accordion__label:hover {
  background-color: rgba(151, 171, 112, 0.09);
  transition: 0.4s ease-in-out;
}

.accordion__content {
  display: none;
  padding: 15px;
}

.accordion__checkbox:checked + .accordion__label + .accordion__content {
  display: block;
}

/*------------------------------------*\
    #OBJECTS: PROMOBANNER
\*------------------------------------*/
/**
 * Component Block
 */
.PromoBanner {
  background-color: var(--color-link);
  color: var(--color-white);
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  font-size: var(--step--1);
  padding: calc(var(--space) / 2) var(--space);
  text-align: center;
}
.PromoBanner p {
  max-width: 100%;
}
.PromoBanner a {
  background-color: var(--color-link);
  color: var(--color-white);
}
.PromoBanner a:hover {
  background-color: var(--color-white);
  color: var(--color-link);
}

/*------------------------------------*\
    #OBJECTS: TAG
\*------------------------------------*/
/**
 * Component Block
 */
.Tag a {
  color: #1a0e04;
}
.Tag a:hover {
  background-color: #1B4F39;
  color: #fffefc;
  text-decoration: none;
}
.Tag a:not(:last-child):after {
  content: ",";
}

/*------------------------------------*\
    #OBJECTS: SKIP-LINK
\*------------------------------------*/
/**
 * Component Block
 */
.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link:focus {
  background-color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: 1rem;
}

/*------------------------------------*\
    #COMPONENTS: SiteHead
\*------------------------------------*/
/**
 * Component Block
 */
.SiteHead {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  max-width: 1248px;
  margin: 0 auto;
  padding: 5% 0% 4%;
}
.SiteHead a {
  color: #1a0e04;
  text-decoration: none;
}
.SiteHead a:hover {
  background-color: unset;
  text-decoration: underline;
}

/*------------------------------------*\
    #COMPONENTS: NAV

/**
 * Component Block
 */
.Nav__list {
  text-align: right;
  gap: calc(var(--space) * 1.5);
}

@media (min-width: 48em) {
  .Nav__list {
    display: flex;
    text-align: left;
  }
  .Nav__listItem:not(:last-of-type) {
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  .Nav__listItem:not(:last-of-type) {
    margin-right: 1.7rem;
  }
}
.Nav--listItemLink {
  padding: calc(var(--space) * 0.5);
}

.Nav--listItemLink:hover {
  color: inherit;
  background-color: unset;
  text-decoration: underline;
}

.Nav--listItemLink.is-active {
  text-decoration: underline;
}

.Nav--linkActive {
  text-decoration: underline;
}

/*------------------------------------*\
    #COMPONENTS: Footer
\*------------------------------------*/
/**
 * Component Block
 */
.Footer {
  max-width: 1248px;
  margin: 0 auto;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 48em) {
  .Footer {
    margin-top: 3.4rem;
  }
}
.Footer p {
  margin-top: 1.5rem;
}
@media screen and (min-width: 48em) {
  .Footer p {
    margin-top: 1.7rem;
  }
}

@media screen and (min-width: 48em) {
  .Footer {
    margin-top: 3.2rem;
  }
}
@media (min-width: 700px) {
  .footer-credits {
    display: flex;
  }
}
.footer-copyright {
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .notice {
    display: none !important;
  }
}
.notice {
  display: inline;
  margin: 0px 0px 0px 2.4rem;
}

.Footer .section-inner {
  width: calc(100% - 0rem);
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.to-the-top-long::after {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  content: "";
  display: inline-block;
  height: 0.5em;
  margin-left: 0.5em;
  transform: rotate(-135deg);
  width: 0.5em;
}

/*------------------------------------*\
    #COMPONENTS: IMAGE
\*------------------------------------*/
/**
 * Component Block
 */
.Image figcaption {
  line-height: 20px;
  margin-top: 0.75rem;
}
@media screen and (min-width: 48em) {
  .Image figcaption {
    margin-top: 0.85rem;
  }
}

.Image + p,
p + .Image {
  margin-top: 2.25rem;
}
@media screen and (min-width: 48em) {
  .Image + p,
  p + .Image {
    margin-top: 2.55rem;
  }
}

.ImageCover {
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
}

@media (min-width: 37.5em) {
  .ImageCover {
    -o-object-fit: fill;
       object-fit: fill;
    height: auto;
  }
}
/**
 * Component Modifier
 */
@media (min-width: 37.5em) {
  .Image--pullRight {
    width: 40%;
    float: right;
    margin-left: 48px;
    margin-bottom: 32px;
    margin-top: 0;
  }
}

/* Apply stickyBoy only when screen size is above 1500px 
@media screen and (min-width: 1500px) {
.stickyBoy {
  position: sticky;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
}
*/
.Image--headShot {
  border-radius: 0.4rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.doodle {
  width: 300px;
  margin-bottom: 40px;
}

/*------------------------------------*\
    #COMPONENTS: QUOTE
\*------------------------------------*/
/**
 * Component Block
 */
.Quote {
  max-width: 400px;
}

/**
 * Component Modifier
 */
.Quote--left {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 1.5rem;
}
@media screen and (min-width: 48em) {
  .Quote--left {
    margin-top: 0rem;
  }
}
@media screen and (min-width: 48em) {
  .Quote--left {
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 48em) {
  .Quote--left {
    margin-left: 1.7rem;
  }
}
@media (min-width: 48em) {
  .Quote--left {
    margin-left: 0rem;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  .Quote--left {
    margin-left: 0rem;
  }
}

.Quote--right {
  float: right;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 1.5rem;
  width: 400px;
}
@media screen and (min-width: 48em) {
  .Quote--right {
    margin-top: 1.7rem;
  }
}
@media screen and (min-width: 48em) {
  .Quote--right {
    margin-bottom: 3.4rem;
  }
}
@media screen and (min-width: 48em) {
  .Quote--right {
    margin-left: 3.4rem;
  }
}
@media screen and (min-width: 48em) {
  .Quote--right {
    margin-right: 1.7rem;
  }
}
@media (min-width: 48em) {
  .Quote--right {
    margin-right: 12rem;
  }
}
@media screen and (min-width: 48em) and (min-width: 48em) {
  .Quote--right {
    margin-right: 13.6rem;
  }
}

/*------------------------------------*\
    #COMPONENTS: CALLOUT
\*------------------------------------*/
/**
 * Component Block
 */
.Callout {
  padding: 2% 0;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
}
.Callout a {
  text-decoration: underline;
}
.Callout a:hover {
  text-decoration: none;
}

p.Callout:not(:last-of-type) {
  margin-bottom: 3rem;
}

p.Callout:not(:first-of-type) {
  margin-top: 3rem;
}

/*------------------------------------*\
    #COMPONENTS: HERO
\*------------------------------------*/
/**
 * Component Block
 */
.Hero {
  margin-top: 4.5rem;
  margin-bottom: 6rem;
}
@media screen and (min-width: 48em) {
  .Hero {
    margin-top: 5.1rem;
  }
}
@media screen and (min-width: 48em) {
  .Hero {
    margin-bottom: 6.8rem;
  }
}

.Hero-date {
  display: flex;
  margin-top: 0.8rem;
}

.Hero-mod {
  margin-top: 2rem;
}

@media screen and (min-width: 48em) {
  .Hero {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 48em) {
  .Hero {
    margin-bottom: 5rem;
  }
}
.Project h2 {
  max-width: 60%;
  word-wrap: break-word;
}

/*------------------------------------*\
    #COMPONENTS: PAGINATION
\*------------------------------------*/
/**
 * Component Block
 */
ul.Pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--space) * 12);
  margin-bottom: calc(var(--space) * 12);
}
ul.Pagination .Pagination-item {
  margin-top: calc(var(--space) * 1.5);
  margin-bottom: calc(var(--space) * 1.5);
}
ul.Pagination .Pagination-item:not(:first-of-type) {
  margin-left: calc(var(--space) / 1.5);
}
ul.Pagination .Pagination-itemLink {
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: calc(var(--space) / 1.5) calc(var(--space) * 1.5);
}
@media (min-width: 48em) {
  ul.Pagination .Pagination-itemLink {
    font-size: var(--font-size-xxs);
  }
}
ul.Pagination .Pagination-item--current {
  background-color: var(--color-brand);
}
ul.Pagination .Pagination-item--current a {
  color: var(--color-light);
  text-decoration: none;
}

/*------------------------------------*\
    #UTILITIES: LAYOUT
\*------------------------------------*/
.Project .Message {
  border: dotted 1px;
  padding: 32px 64px;
  cursor: default;
}

/*------------------------------------*\
    #UTILITIES: COLOR
\*------------------------------------*/
.white {
  color: #ffffff;
}

.dark {
  color: #1a0e04;
}

.body {
  color: #333444;
}

.link {
  color: #1B4F39;
}

.brand {
  color: #1B4F39;
}

.accent {
  color: #97AB70;
}

.light {
  color: #030303;
}

.lighter {
  color: #333333;
}

.lightest {
  color: #444444;
}

.the-lightest {
  color: #666666;
}

.gradient-primary {
  background: linear-gradient(45deg, #1B4F39, #1b5434);
  -webkit-linear-gradient: linear-gradient(45deg, #1B4F39, #1b5434);
  -moz-linear-gradient: linear-gradient(45deg, #1B4F39, #1b5434);
}

/*------------------------------------*\
    #UTILITIES: LINK
\*------------------------------------*/
/* External Link SVG icon after every link == rel="external" */
a[rel*=external]::after {
  content: "↗";
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-bottom: 0.6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

a[rel*=external]:hover::after {
  transform: translateX(3px);
}

.link-reset {
  color: #1a0e04;
  text-decoration: none;
  cursor: pointer;
}
.link-reset:hover {
  transition: color 0.2s ease-in-out;
  color: #030303;
  text-decoration: underline;
  background: none !important;
}

.heading-permalink {
  margin-bottom: 0.2em;
}
.heading-permalink:hover {
  transition: color 0.2s ease-in-out;
  transform: translateY(-4px);
  background: none;
  color: #1a0e04;
}

/* Link a. as a checbox input      */
.link__checkbox {
  border: solid 2px #1B4F39;
  background-color: transparent;
  color: #1B4F39;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0 1%;
  transition: all 0.3s ease-in-out;
}

.link__checkbox.active {
  background-color: #1B4F39;
  color: #fffefc;
}

.link__checkbox:hover {
  outline: dotted 2px #1B4F39;
  outline-offset: 3px;
}

/*------------------------------------*\
    #UTILITIES: TYPOGRAPHY
\*------------------------------------*/
/* font family */
.mono {
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  font-size: 0.7em;
}

/* font size */
.body {
  font-size: var(--step-0);
}

.small {
  font-size: 80%;
}

.smaller {
  font-size: 0.6em;
}

::-moz-selection {
  background-color: #1B4F39;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #1B4F39;
  color: #ffffff;
  text-shadow: none;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.text-right {
  text-align: right;
}

/*------------------------------------*\
    #UTILITIES: LAYOUT
\*------------------------------------*/
.u-visually-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/**
 * Component Utility
 */
/* Animate the lazyloading */
.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

/**
 * FULL BLEED
 *
 * Add this class to an element to make it fill the width of the screen 
 * and sit horizontally central
 * https://andy-bell.design/wrote/creating-a-full-bleed-css-utility/
 */
.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.full-bleed figcaption {
  margin-left: calc(var(--space) * 2);
}

.full-bleed-skinny {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow: hidden; /* Ensure the clipped part is hidden */
}
.full-bleed-skinny img {
  width: 100%; /* Ensure the image fills the container */
  height: 60vh; /* Ensure the image fills the container */
  -o-object-fit: cover;
     object-fit: cover; /* Ensure the image maintains its aspect ratio */
  -o-object-position: 50% 20%;
     object-position: 50% 20%; /* Center the image */
}

/*------------------------------------*\
    #LAYOUTS: FLEX
\*------------------------------------*/
/**
 * Component Block
 */
.flex {
  display: flex;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/*------------------------------------*\
    #LAYOUTS: WRAPPER
\*------------------------------------*/
/**
 * Component Block
 */
.wrapper {
  padding: 0 4% 0 4%;
}

@media (min-width: 48em) {
  .wrapper {
    padding: 0 7% 0 7%;
  }
}
.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/*------------------------------------*\
    #COMPONENTS: RATIO
\*------------------------------------*/
/**
 * A utility that provides you with a predictable aspect ratio
 *
 * 16:9 = ratio wide
 * 1:1 = ratio square
 * 3:2 = ratio landscape
 * 3:4 = ratio portrait
 */
[class*=ratio-] {
  background-color: var(--color-light-mod-2);
  display: block;
  position: relative;
}

[class*=ratio-] > * {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.aspect-ratio-wide {
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio */
}

.aspect-ratio-square {
  padding-bottom: 100%;
  /* 1:1 Aspect Ratio */
}

.aspect-ratio-landscape {
  padding-bottom: 66.6666%;
  /* 3:2 Aspect Ratio */
}

.aspect-ratio-portrait {
  padding-bottom: 142.7848101266%;
  /* 5:7 Aspect Ratio */
}

.aspect-ratio-full {
  padding-top: 66.6666666667%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 48em) {
  .aspect-ratio-full {
    padding-top: 30.7638888889%;
  }
}

.items-center {
  align-items: center;
}

/* Be ashamed */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hr--full {
  border: dashed 1px;
  max-width: 60%;
  margin: 4rem 0rem 1rem 0;
  opacity: 0.1;
}

.two-column-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 30% 30%; /* Adjust column widths */
  row-gap: -10%;
}

.two-column-list li {
  margin-bottom: 5%; /* Adjust spacing between items */
}

/* Adjust the margin between columns */
.two-column-list li:first-child {
  margin-right: -50px; /* Adjust this value to bring the columns closer together */
}

#circle {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  border-radius: 50%; /* Ensure the image is circular */
  transition: border 0.3s ease; /* Add smooth transition */
}

#circle:hover {
  outline: 1px dashed black;
  outline-offset: 1px;
}

#circle {
  border-radius: 50%; /* Ensure the image is circular */
  transition: border 0.3s ease; /* Add smooth transition */
}

#circle.outlined {
  border: 3px solid black; /* Add an outline when the 'outlined' class is present */
}

#innerBall {
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

body.dark-theme {
  background-color: #000;
  color: #FEFDF8;
  accent-color: #97AB70;
}

/* Selection color for dark theme */
body.dark-theme ::-moz-selection {
  background-color: #97AB70; /* Nokia */
  color: #fff; /* White text color */
}
body.dark-theme ::selection {
  background-color: #97AB70; /* Nokia */
  color: #fff; /* White text color */
}

/* Apply dark theme to specific elements */
.dark-theme a {
  color: #fff; /* Links */
}

.dark-theme svg {
  fill: #fff; /* SVG paths */
}

/* Header color for dark theme */
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3 {
  color: #FEFDF8; /* White color for headers */
}

.dark-theme ul {
  color: #FEFDF8;
}

.dark-theme .Badge {
  background-color: rgba(255, 255, 255, 0.09);
  color: white;
}/*# sourceMappingURL=styles.css.map */