/* Be ashamed */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hr--full {
  border: dashed 1px;
  max-width: 60%;
  margin: 4rem 0rem 1rem 0;
  opacity: 0.1;
}


.glossary-list ol {
  text-align: start;
  //list-style-type: decimal;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%; /* Adjust column widths */
  column-gap: 10%;
  row-gap: 10%;
  margin-top: 1rem;
  margin-bottom: 6rem;
  margin-right: 4%;

 &li{
   margin-bottom: 6%; /* Adjust spacing between items */
  }
}

.two-column-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 30% 30%; /* Adjust column widths */
  row-gap: -10%;
}

.two-column-list li {
  margin-bottom: 5%; /* Adjust spacing between items */
}

/* Adjust the margin between columns */
.two-column-list li:first-child {
  margin-right: -50px; /* Adjust this value to bring the columns closer together */
}

#circle {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  border-radius: 50%; /* Ensure the image is circular */
  transition: border 0.3s ease; /* Add smooth transition */
}

#circle:hover{ 
  outline: 1px dashed black;
  outline-offset: 1px;
}

#circle {
  border-radius: 50%; /* Ensure the image is circular */
  transition: border 0.3s ease; /* Add smooth transition */
}

#circle.outlined {
   border: 3px solid black; /* Add an outline when the 'outlined' class is present */
}

#innerBall {
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}




 .wrapped-link {
        word-break: break-all; /* Breaks words to prevent overflow */
        /* Optional styles */
        max-width: 100%; /* Ensures links don't overflow their container */
        display: inline-block; /* Allows width constraints to work */
        overflow-wrap: break-word; /* Fallback for older browsers */
    }