/* Be ashamed */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.hr--full {
  border: dashed 1px;
  max-width: 60%;
  margin: 4rem 0rem 1rem 0;
  opacity: 0.1;
}


#randomGradientSVG {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}


.two-column-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
 
   grid-template-columns: 30% 30%; /* Adjust column widths */
  row-gap: -10%;
}

.two-column-list li {
  margin-bottom: 5%; /* Adjust spacing between items */
}

/* Adjust the margin between columns */
.two-column-list li:first-child {
  margin-right: -50px; /* Adjust this value to bring the columns closer together */
}

