/* Be ashamed */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hr--full {
  border: dashed 1px;
  max-width: 60%;
  margin: 4rem 0rem 1rem 0;
  opacity: 0.1;
}


.glossary-list ol {
  text-align: start;
  //list-style-type: decimal;
  padding: 0;
  display: grid;
  grid-template-columns: 48% 48%; /* Adjust column widths */
  column-gap: 6%;
  row-gap: 10%;
  margin-top: 1rem;
  margin-bottom: 6rem;
  margin-right: 4%;

 &li{
   margin-bottom: 6%; /* Adjust spacing between items */
  }
}

.two-column-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 30% 30%; /* Adjust column widths */
  row-gap: -10%;
}

.two-column-list li {
  margin-bottom: 5%; /* Adjust spacing between items */
}

/* Adjust the margin between columns */
.two-column-list li:first-child {
  margin-right: -50px; /* Adjust this value to bring the columns closer together */
}

#circle {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  border-radius: 50%; /* Ensure the image is circular */
  transition: border 0.3s ease; /* Add smooth transition */
}

#circle:hover{ 
  outline: 1px dashed black;
  outline-offset: 1px;
}

#circle {
  border-radius: 50%; /* Ensure the image is circular */
  transition: border 0.3s ease; /* Add smooth transition */
}

#circle.outlined {
   border: 3px solid black; /* Add an outline when the 'outlined' class is present */
}

#innerBall {
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}


 .wrapped-link {
        word-break: break-all; /* Breaks words to prevent overflow */
        /* Optional styles */
        max-width: 100%; /* Ensures links don't overflow their container */
        display: inline-block; /* Allows width constraints to work */
        overflow-wrap: break-word; /* Fallback for older browsers */
    }



/* Apple Notes */

.front{
  position: sticky;
  z-index: 9999999;
}

.notesContainer {
  max-width: 90vw;
  margin: auto;
  background-color: #fff;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: #454545;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.1);
}

.notesHeader {
  position: sticky;
  top: 0;
  display: block;
  line-height: 0.6rem;
  text-align: left;
  color: #dbb13d;
  background-color: #fff;
  padding: 15px 10px;
  margin: -20px -20px 20px;
  border-radius: 10px 10px 0 0;
}

.notesContainer .notesHeader a {
    text-decoration: none !important;
}

.notesHeader:before {  
  content: "";
  position: relative;
  border: solid $color-brand;
  border-width: 0 2px 2px 0;
  padding: 5px;
  float: left;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.notesHeader:after {
  content: "\2022 \2022 \2022";
  position: relative;
  text-align: center;
  font-size: 9px;
  line-height: 0.7rem;
  font-weight: bold;
  float: right;
  width: 18px;
  height: 18px;
  color: $color-brand;
  border: 2px solid $color-brand;
  border-radius: 50%;
  margin-top: -3px;
  margin-right: 6px;
}

.notesTimeStamp {
  display: block;
  color: #8a8a8d;
  font-size: smaller;
  text-align: center;
  padding: 0 0 15px;
}

.notesContainer a {
  color: $color-brand;
  text-decoration: underline;
}

.notesContainer a:hover {
  background-color: transparent !important;
}

.notesContainer img {
  max-width: 100%;
  height: auto;
}

.notesContainer h1 {
  color: #454545;
  font-size: 24px;
  margin-bottom: 10px;
}

.notesContainer small {
  font-size: 16px;
}

.dark, .dark .notesHeader {
    background-color: #000;
}
.dark, .dark h1, .dark h2, .dark small {
    color: #fff;
}
.dark.notesContainer {
    border: 0.063rem solid #2b2b2b;
}

/* yellow: #dbb13d  */
