/*------------------------------------*\
    #LAYOUTS: POST LIST
\*------------------------------------*/

/**
 * Component Block
 */

 .PostListItem {
  margin-bottom: 4.5rem
}

@media screen and (min-width: 48em) {
  .PostListItem {
      margin-bottom:4.8rem
  }
}

.PostListItem:first-of-type {
  margin-top: 3rem
}

@media screen and (min-width: 48em) {
  .PostListItem:first-of-type {
      margin-top:3.2rem
  }
}

.PostListItem p {
  color: var(--color-dark)
}

.PostListItem-title {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .75rem;
  max-width: 30ch
}

@media screen and (min-width: 48em) {
  .PostListItem-title {
      margin-top:0
  }
}

@media screen and (min-width: 48em) {
  .PostListItem-title {
      margin-bottom:.8rem
  }
}

.PostListItem-title a {
  color: var(--color-dark);
  text-decoration: none
}

.PostListItem-title a:hover {
  background-color: unset;
  text-decoration: underline
}

.PostListItem-meta {
  display: flex;
  margin-bottom: .75rem
}

@media screen and (min-width: 48em) {
  .PostListItem-meta {
      margin-bottom:.8rem
  }
}

