/*------------------------------------*\
    #LAYOUTS: BLOCKS
\*------------------------------------*/

/**
 * Component Block
 */

.Blocks {
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
}


.Blocks h1,.Blocks h2 {
    margin: 0;
    line-height: 1.1
}

.Blocks h3 {
    line-height: 1.2
}

.Blocks section {
    margin-top: 3rem;
    margin-bottom: 3rem
}

@media screen and (min-width: 48em) {
    .Blocks section {
        margin-top:3.2rem
    }
}

@media screen and (min-width: 48em) {
    .Blocks section {
        margin-bottom:3.2rem
    }
}

@media(min-width: 48em) {
    .Blocks section {
        margin-top:6rem;
        margin-bottom: 6rem
    }
}

@media screen and (min-width: 48em) and (min-width:48em) {
    .Blocks section {
        margin-top:6.4rem
    }
}

@media screen and (min-width: 48em) and (min-width:48em) {
    .Blocks section {
        margin-bottom:6.4rem
    }
}


