/*------------------------------------*\
    #LAYOUTS: CONTAINER
\*------------------------------------*/

/**
 * Component Block
 */

.Container {
  padding-top: 20%;
  padding-bottom: 7%;
  max-width: 1248px;
  margin: 0 auto;
}

@include breakpoint(md) {
  .Container {
    padding-top: 5%;
  }
}
