/*------------------------------------*\
    #OBJECTS: VIDEO
\*------------------------------------*/

/**
 * Component Block
 */


/* Base styles */
.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  background-color: #f5f5f5;
}

.accordion__label:hover {
  background-color: rgba(0, 0, 0, 0.09);
  transition: background-color 0.4s ease-in-out;
}

.accordion__content {
  display: none;
  padding: 15px;
}

.accordion__checkbox:checked + .accordion__label + .accordion__content {
  display: block;
}

.accordion__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
