/*------------------------------------*\
    #OBJECTS: AVATAR
\*------------------------------------*/

/**
 * Component Block
 */

 .Avatar {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

/**
   * Component Element
   */


/**
   * Component Modifier
   */

   .Avatar--round {
    border-radius: 50%
  }

  .Avatar--m {
    font-size: 1.25rem;
    width: 80px;
    height: 80px;
    line-height: 80px
  }


/*

.PromoBanner {
  background-color: $color-link;
  color: $color-white;
  font-family: sf mono,monaco,inconsolata,fira mono,droid sans mono,source code pro,monospace;
  font-size: var(--step--1);
  padding: calc(var(--space)/2)var(--space);
  text-align: center;
}

.PromoBanner p {
  max-width: 100%
}

.PromoBanner a {
  background-color: $color-link;
  color: $color-white;
}

.PromoBanner a:hover {
  background-color: $color-white;
  color: $color-link;
}

*/
