/*------------------------------------*\
    #OBJECTS: FORM
\*------------------------------------*/

/**
 * Component Block
 */

 //.Form {}

 .Form-label {
   display: block;
   @include margin-bottom(0.5);
 }

 ::placeholder {
   color: $color-lighter;
 }

 /**
  * Component Element
  */

.Form-input,
.Form-textarea,
.Form-select {
  background: $color-lightest;
  border: solid 2px $color-lightest;
  border-radius: 0;
  height: 60px;
  @include margin-top(0.25);
  outline: 2px solid $color-lightest;
  outline-offset: 0;
  padding: 0 16px;
  position: relative;
  transition: all .2s;
//-webkit-appearance: none;
  width: 100%;

    &:focus,
    &:active {
      border: 2px solid $color-link;
      outline: 4px solid lighten($color-link, 35%);
      outline-offset: 0;
      transition: all .2s;
    }

}

.Form-select {

    &:after {
      color: $color-dark;
      content: '▾';
      display: block;
      height: 14px;
      position: absolute;
      right: 24px;
      top: 16px;
      width: 14px;

   }
}

.Form-textarea {
  min-height: 96px;
  padding-top: 16px;
}


.Form-button {
  @include margin-top(1);
  @include margin-bottom(1);
}



.Form__checkbox{
  display: inline;
  position: relative;
  //Hides defauly checkbox
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  //width: 50px;
  //height: 50px;
  border: solid 2px $color-brand;
  border-radius: 4px;
  background: $color-paper;
  outline: none;
  cursor: pointer;
  padding: 0 1.8%;
  transition: background-color 0.3s, border-color 0.3s;
  
  &:checked {
    background-color: $color-brand;
}
}

/* Create the checkmark icon using pseudo-elements */
.Form__checkbox::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 32%;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    border: 2px solid $color-paper;
    border-top: none;
    border-right: none;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the checkmark icon when checkbox is checked */
.Form__checkbox:checked::after {
    opacity: 1;
}
