/*------------------------------------*\
    #UTILITIES: LIST
\*------------------------------------*/

// Lists style is set to none by default (reset.css)

.list-disc  {
  list-style: disc !important;
  margin-left: 18px !important;
  text-indent: 2px;
}

.list-decimal {
  list-style: decimal !important;
  margin-left: 18px !important;
  text-indent: 2px;
}
