/*------------------------------------*\
    #UTILITIES: COLOR
\*------------------------------------*/

.white {
  color: $color-white;
}

.dark {
  color: $color-dark;
}

.body {
  color: $color-body;
}

.link {
  color: $color-link;
}

.brand {
  color: $color-brand;
}

.accent {
color: $color-accent;
}

.gradient-light {
  background: $gradient-light;
  -webkit-linear-gradient: $gradient-light;
  -moz-linear-gradient: $gradient-light;
}

.gradient-dark {
  background: $gradient-dark;
  -webkit-linear-gradient: $gradient-dark;
  -moz-linear-gradient: $gradient-dark;
}

.light {
  color: $color-black;
}

.lighter {
  color: $color-lighter;
}

.lightest {
  color: $color-lightest;
}