/*------------------------------------*\
    #BASE: BODY
\*------------------------------------*/
// Set fulid type on the root
html {
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  background-color: $color-brand;
}

@media screen and (min-width: 675px) {
  html {
    font-size: 20px;
  }
}

@media(prefers-reduced-motion:no-preference) {
  html {
      scroll-behavior: smooth
  }
}


body {
  background-color: $color-light-mod-2;
  color: $color-body;
  font-family: $font-system-rg;
  font-weight: $font-weight-regular;
  line-height: $baseline;
  font-style: normal;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

p {
  max-width: 57ch;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

p:not(:last-of-type) {
  margin-bottom:1.2rem; 
}

@media screen and (min-width: 48em) {
  p:not(:last-of-type) {
      margin-bottom:1.28rem;
  }
}


[id] {
  scroll-margin-top: 2ex
}

hr {
  border: dashed 1px;
  max-width: 60%;
  margin: 3rem 0
}

:focus:not(:focus-visible) {
  outline: 0
}

:focus-visible {
  outline: dotted 2px var(--color-dark);
  outline-offset: 3px
}