/*------------------------------------*\
    #BASE: BODY
\*------------------------------------*/
// Set fulid type on the root
html {
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  background-color: $color-link;
}

@media screen and (min-width: 675px) {
  html {
    font-size: 20px;
  }
}

body {
  background-color: $color-light-mod-1;
  color: $color-body;
  font-family: $font-system-rg;
  font-weight: $font-weight-regular;
  line-height: $baseline;
  font-style: normal;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

p {
  max-width: 680px;

  &:not(:last-of-type) {
    @include margin-bottom(0.8);
  }
}
