/*------------------------------------*\
    #COMPONENTS: HERO
\*------------------------------------*/

/**
 * Component Block
 */

.Hero {
  @include margin-top(3);
  @include margin-bottom(4);
}

.Hero-date {
  display: flex;
  margin-top: .8rem;
}

.Hero-mod {
  margin-top: 2rem;
}


@media screen and (min-width: 48em) {
  .Hero {
      margin-top:4rem
  }
}

@media screen and (min-width: 48em) {
  .Hero {
      margin-bottom:4rem
  }
}



