/*------------------------------------*\
    #COMPONENTS: SiteHead
\*------------------------------------*/

/**
 * Component Block
 */

.SiteHead {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  max-width: 1248px;
  margin: 0 auto;
  padding: 5% 0% 4%;

  a {
    color: $color-dark;
    text-decoration: none;

    &:hover {
      background-color: unset;
     // text-decoration: underline;
    }
  }
}
