/*------------------------------------*\
    #COMPONENTS: NAV
/*------------------------------------*/

/**
 * Component Block
 */

.Nav__list {
  text-align: right;
  gap: calc(var(--space) *1.5)
}

@include breakpoint(md) {
  .Nav__list {
    display: flex;
    text-align: left;
  }

  .Nav__listItem:not(:last-of-type) {
    @include margin-right(1);
  }
}

.Nav--listItemLink{
  padding: calc(var(--space) *.5);
}

.Nav--listItemLink:hover {
  
  color: inherit;
  background-color: unset;
  text-decoration: underline
}

.Nav--listItemLink.is-active {
  text-decoration: underline
}

.Nav--linkActive {
  text-decoration: underline;
}



