/*------------------------------------*\
    #COMPONENTS: RATIO
\*------------------------------------*/

/**
 * A utility that provides you with a predictable aspect ratio
 *
 * 16:9: ratio wide
 * 1:1: ratio square
 * 3:2: ratio classic
 
 */

.Ratio {
  background-color: #f6f6f6;
  display: block;
  position: relative;
}

.Ratio--3by2 {
  padding-bottom: 66.66667%;
}

.Ratio--16by9 {
  padding-bottom: 56.25%;
}

.Ratio--1by1 {
  padding-bottom: 100%;
}

.Ratio img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}




.aspect-ratio-wide {
  padding-bottom: 56.25%
}

.aspect-ratio-square {
  padding-bottom: 100%
}

.aspect-ratio-landscape {
  padding-bottom: 66.6666%
}

.aspect-ratio-portrait {
  padding-bottom: calc(564/395 * 100%)
}

.aspect-ratio-full {
  padding-top: calc(276/414 * 100%);
  -o-object-fit: cover;
  object-fit: cover
}

@media(min-width: 48em) {
  .aspect-ratio-full {
      padding-top:calc(886/2880 * 100%)
  }
}